.img-logo{
  height: 45px;
  width: auto;
}
.register-button {
  color: white;
  background-color: #f37b00;
  border-color: #f37b00;
}
.courses {
  background-color: #e9e9ec;
  //padding: 40px 280px 20px 280px;
}
