<div class="container p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rtl">
    <img class="img-logo pr-3" src="assets/lms.png" alt="lms">
    <button type="button" class="btn btn-outline-secondary">صفحه اصلی</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbarCollapsing()"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">پاسخنامه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">خبرنامه <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">درباره ما </a>
        </li>
      </ul>
      <button class="btn" type="submit">
        <fa-icon class="p-1" [icon]="faSignInAlt"></fa-icon>
        ورود
      </button>
      <button class="btn" type="submit">
        <fa-icon class="p-1" [icon]="faUser"></fa-icon>
        ثبت نام
      </button>

    </div>
  </nav>
</div>
<div class="album bg-light">
  <div class="container">
    <div class="row courses d-flex justify-content-around">
      <app-course-registration class="col-md-4 col-lg-4 col-xl-3 mt-5"
                               mt="5"
                               date="۱۳/۱۲/۷۱"
                               time="۹ الی ۱۲"
                               label="ثبت نام دوره شبکه"
      >
      </app-course-registration>
      <app-course-registration class="col-md-4 col-lg-4 col-xl-3 pt-3"
                               mt="0"
                               date="۱۳/۱۲/۷۱"
                               time="۹ الی ۱۲"
                               label="ثبت نام دوره شبکه"
      >
      </app-course-registration>
      <app-course-registration class="col-md-4 col-lg-4 col-xl-3 mt-5"
                               mt="5"
                               date="۱۳/۱۲/۷۱"
                               time="۹ الی ۱۲"
                               label="ثبت نام دوره شبکه"
      ></app-course-registration>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row py-2 d-flex justify-content-around">
    <div [ngClass]="{'hover': hover==true && index == 1}"
         (mouseover)="hover=true; index = 1"
         (mouseout)="hover=false"
         class="circle-icons seminar">
      <span style="color: #0A63DE"> برگزاری سمینارها </span>
    </div>
    <div [ngClass]="{'hover': hover==true && index == 2}"
         (mouseover)="hover=true; index = 2"
         (mouseout)="hover=false"
         class="circle-icons paint">
      <span style="color: #0A63DE"> دروس هنری </span>
    </div>
    <div [ngClass]="{'hover': hover==true && index == 3}"
         (mouseover)="hover=true; index = 3"
         (mouseout)="hover=false"
         class="circle-icons simulation">
      <span style="color: #0A63DE"> دروس شبیه سازی </span>
    </div>
    <div [ngClass]="{'hover': hover==true && index == 4}"
         (mouseover)="hover=true; index = 4"
         (mouseout)="hover=false"
         class="circle-icons tube">
      <span style="color: #0A63DE"> دروس آزمایشگاهی </span>
    </div>
  </div>
</div>

<div style="margin-bottom: 200px;" class="album bg-light">
  <div class="container">
    <div class="row courses-rating d-flex justify-content-around">
      <div class="col-12 text-center">
        <button type="button"
                style="border-width:0.25em !important;"
                class="btn btn-outline-light">
          دوره های برگزار شده
        </button>
      </div>
      <app-rating class="col-md-4 each-card col-lg-4 col-xl-3 pt-3"
                  [rating]="5"
                  label="دوره شبکه">
      </app-rating>
      <app-rating class="col-md-4 each-card col-lg-4 col-xl-3 pt-3"
                  [rating]="4"
                  label="دوره بورس">
      </app-rating>
      <app-rating class="col-md-4 each-card col-lg-4 col-xl-3 pt-3"
                  [rating]="2"
                  label="دوره بورس">
      </app-rating>
    </div>
  </div>
</div>

<div class="container">
  <div class="timeline">
    <div style="z-index: 10" class="col-12 text-center">
      <button type="button"
              style="border-width:0.25em !important;border-color: #0f74ff"
              class="btn btn-light">
        روش انتخاب دوره ها
      </button>
    </div>
    <div class="contain right">
      <div class="content">
        <h2>مرحله اول</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="contain left">
      <div class="content">
        <h2>مرحله دوم</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="contain right">
      <div class="content">
        <h2>مرحله سوم</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
