.img-logo{
  height: 45px;
  width: auto;
}
.register-button {
  color: white;
  background-color: #f37b00;
  border-color: #f37b00;
}
.courses {
  background-color: #e9e9ec;
}
.circle-icons {
  cursor: pointer;
  span {
    display: table;
    margin: auto auto;
    position: relative;
    /* bottom: 100%; */
    top: 110%;
  }
  //width: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}
.seminar {
  background: url(../assets/marketing-seminar.svg) no-repeat center center;
  background-color: #b8e8ff;
  background-size:50%;
}
.paint {
  background: url(../assets/paint-palette-and-brush.svg) no-repeat center center;
  background-color: #b8e8ff;
  background-size:50%;
}
.simulation {
  background: url(../assets/test-tube.svg) no-repeat center center;
  background-color: #b8e8ff;
  background-size:50%;
}
.tube {
  background: url(../assets/simulation.svg) no-repeat center center;
  background-color: #b8e8ff;
  background-size:50%;
}
.hover {
  background-color: #7cc7ed !important;
}
.courses-rating {
  background:
    linear-gradient(to bottom right, #7cc7ed 50%, transparent 50.5%) no-repeat bottom,
    linear-gradient(to top left, #7cc7ed 50%, transparent 50.5%) no-repeat top,
    linear-gradient(0deg, #7cc7ed, #7cc7ed) no-repeat center;
  padding-bottom: 9em;
  padding-top: 10em;
  background-size: 196% 14em, 274% calc(56% - 7em);
}
@media only screen and (max-width: 768px) {
  .courses-rating {
    background-color: #7cc7ed;
  }
}





//* {
//  box-sizing: border-box;
//}
//
//body {
//  background-color: #474e5d;
//  font-family: Helvetica, sans-serif;
//}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0f74ff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.contain {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.contain::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #0f74ff;
  border: 4px solid #0f74ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .contain::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
