<nav class="navbar navbar-expand-lg navbar-light bg-light rtl">
  <img class="img-logo" src="assets/lms.png" alt="lms">
<!--  <a class="navbar-brand" href="#">صفحه اصلی </a>-->
  <button type="button" class="btn btn-outline-secondary">صفحه اصلی </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbarCollapsing()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">پاسخنامه</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">خبرنامه <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">درباره ما </a>
      </li>
    </ul>
    <button class="btn" type="submit"><fa-icon class="p-1" [icon]="faSignInAlt"></fa-icon>ورود </button>
    <button class="btn" type="submit"><fa-icon class="p-1" [icon]="faUser"></fa-icon>ثبت نام </button>

  </div>
</nav>
<div class="album py-5 bg-light">
  <div class="container-fluid">

    <div class="row courses">
      <div class="col-md-4 px-5 mt-5">
        <div class="card mt-5 mb-4 box-shadow">
          <div class="px-2 pt-2">
            <img class="w-100" src="assets/network1.jpg" alt="network">
          </div>
          <div class="card-body p-0">
            <div class="card-text m-4 rtl">
              <p>ثبت نام دوره شبکه</p>
              <p><fa-icon class="p-1" [icon]="faCalendar"></fa-icon>تاریخ شروع :۱۳/۱۲/۷۱</p>
              <p> <fa-icon class="p-1" [icon]="faClock"></fa-icon>ساعت:۹ الی ۱۲ </p>
            </div>
            <div class="d-flex justify-content-between align-items-center col-5 p-0">
              <button type="button" class="btn btn-sm register-button btn-warning btn-block">ثبت نام</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 px-5">
        <div class="card mb-4 box-shadow">
          <div class="px-2 pt-2">
            <img class="w-100" src="assets/network1.jpg" alt="network">
          </div>
          <div class="card-body p-0">
            <div class="card-text m-4 rtl">
              <p>ثبت نام دوره شبکه</p>
              <p><fa-icon class="p-1" [icon]="faCalendar"></fa-icon>تاریخ شروع :۱۳/۱۲/۷۱</p>
              <p> <fa-icon class="p-1" [icon]="faClock"></fa-icon>ساعت:۹ الی ۱۲ </p>
            </div>
            <div class="d-flex justify-content-between align-items-center col-5 p-0">
              <button type="button" class="btn btn-sm register-button btn-warning btn-block">ثبت نام</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 px-5 mt-5">
        <div class="card mt-5 mb-4 box-shadow">
          <div class="px-2 pt-2">
            <img class="w-100" src="assets/network1.jpg" alt="network">
          </div>
          <div class="card-body p-0">
            <div class="card-text m-4 rtl">
              <p>ثبت نام دوره شبکه</p>
              <p><fa-icon class="p-1" [icon]="faCalendar"></fa-icon>تاریخ شروع :۱۳/۱۲/۷۱</p>
              <p> <fa-icon class="p-1" [icon]="faClock"></fa-icon>ساعت:۹ الی ۱۲ </p>
            </div>
            <div class="d-flex justify-content-between align-items-center col-5 p-0">
              <button type="button" class="btn btn-sm register-button btn-warning btn-block">ثبت نام</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<router-outlet></router-outlet>
