.active-star {
  color: #ece82d;
}
.stars {
  fa-icon{
    cursor: pointer;
  }
  span {
    background-color: coral;
    color: black;
    border-radius: 50%;
    padding: 2px;
    visibility: hidden;
    position: relative;
    left: 5px;
  }
  //&:hover span{
  //  .visible-rating {
  //    visibility: visible;
  //  }
  //}
}
.visible-rating {
  visibility: hidden;
}
.rating-container:hover {
  .visible-rating {
    visibility: visible;
  }
}
.each-card {
  img {
    //border: 8px solid white;
  }
  background-color: #f0f0;
  border: 6px solid white;
}
//.visible-rating {
//  &:hover span{
//    visibility: visible;
//  }
//}
