<div class="card mb-4 box-shadow">
  <div class="px-2 pt-2">
    <img class="w-100" src="assets/network1.jpg" alt="network">
  </div>
  <div class="card-body p-0">
    <div class="card-text m-2 rtl">
      <p> {{label}}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center col-5 p-0">
      <div class="stars" [ngClass]="{'visible-rating': rating == 5}">
        <span>{{rating}}</span>
        <fa-icon class="p-1" [ngClass]="{'active-star': rating > 0}" [icon]="faStar"></fa-icon>
      </div>
      <div class="stars">
        <span>{{rating}}</span>
        <fa-icon class="p-1 stars" [ngClass]="{'active-star': rating > 1}" [icon]="faStar"></fa-icon>
      </div>
      <div class="stars">
        <span>{{rating}}</span>
        <fa-icon class="p-1 stars" [ngClass]="{'active-star': rating > 2}" [icon]="faStar"></fa-icon>
      </div>
      <div class="stars">
        <span>{{rating}}</span>
        <fa-icon class="p-1 stars" [ngClass]="{'active-star': rating > 3}" [icon]="faStar"></fa-icon>
      </div>
      <div class="stars">
        <span>{{rating}}</span>
        <fa-icon class="p-1 stars" [ngClass]="{'active-star': rating > 4}" [icon]="faStar"></fa-icon>
      </div>
      <div class="stars">
        <span>{{rating}}</span>
        <fa-icon class="p-1 stars" [ngClass]="{'active-star': rating > 5}" [icon]="faStar"></fa-icon>
      </div>
    </div>
  </div>
</div>
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
